body {
    background: linear-gradient(to bottom, #d98522, #e97733, #f56747, #fd585d, #ff4b75) fixed;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#mainLoggin {
    box-shadow: 4px 0px 15px 8px rgba(0,0,0,0.28);
    border-radius: 21px;
    vertical-align: middle;
    width: calc((100%/2)) !important;
    margin: auto;
    height: 600px !important;
    margin-top: 45px;
    background-color: white;
}

#LeftSide {
    background-image: url('https://i.ibb.co/6JH9sFC/Oval.png');
    width: 35%;
    float: left;
    height: 600px;
    border-radius: 21px 0px 0px 21px;
    margin-left: -2px;
    text-align: center;
    box-shadow: 6px 0px 25px 0px rgba(0,0,0,0.28)
}

#logo {
    max-height: 70px;
    margin-top: 160px
}

#LeftSideText {
    margin-top: 290px;
    color: white;
    font-size: 12px
}

#RightSide {
    float: left;
    margin: auto;
    height: 600px;
    width: 327px;
    margin-left: 45px
}

#TxtLogin {
    color: #E6793B;
    font-size: 40px;
    margin-top: 60px;
}

#divUsername {
    margin-bottom: 25px
}

#divPassword {
    margin-bottom: 5px
}

#lblUsername, #lblPassword {
    margin-bottom: 0;
    font-size: 13px
}

#txtUsername, #txtPassword {
    border: #E6793B solid 2px;
    width: 320px;
    border-radius: 5px;
    height: 25px;
}

    #txtUsername:hover, #txtPassword:hover, #txtUsername:focus, #txtPassword:focus {
        outline: 0;
        border-color: sandybrown
    }

#forgot {
    color: #E6793B;
    font-size: 12px;
    font-style: italic
}

#divSubmit {
    margin-top: 30px
}

#PKeppSignIn {
    margin-top: -20.5px;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 100;
    font-style: italic;
}

#btnLogin {
    float: right;
    color: #E6793B;
    margin-top: -33px;
    background-color: white;
    border: none;
    font-size: 20px;
}

    #btnLogin:hover, #btnLogin:focus {
        cursor: pointer;
        border: none;
        outline: 0
    }

#divFacebook {
    margin-top: 45px
}

#aspImageButtonFace {
    width: 324.5px
}

#monster img {
    width: 400px;
    height: auto;
    position: fixed;
    left: -50px;
    bottom: -50px;
    transform: rotate(20deg);
}

#chkKeepSignIn:hover{
    cursor:pointer
}

#RequiredFieldUername, #RequiredFieldtxtPassword {
    color: red;
}